{% load i18n %}{% autoescape off %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% translate "Passwort zurücksetzen" %}</title>
</head>
<body>
    <p>{% blocktrans %}HTML-Mail: Sie erhalten diese E-Mail, weil Sie ein Zurücksetzen des Passworts für Ihr Benutzerkonto bei {{ site_name }} angefordert haben.{% endblocktrans %}</p>

    <p>{% blocktrans %}Bitte klicken Sie auf den folgenden Link, um ein neues Passwort zu wählen:{% endblocktrans %}</p>
    <p>
        <a href="{{ password_reset_url }}">
            {{ password_reset_url }}
        </a>
    </p>

    <p>{% translate "Ihr Benutzername, falls Sie ihn vergessen haben, lautet:" %} {{ user.get_username }}</p>

    <p>{% translate "Vielen Dank für die Nutzung unserer Website!" %}</p>
    <p>{% blocktrans %}Das Team von {{ site_name }}{% endblocktrans %}</p>
</body>
</html>
{% endautoescape %}